.home_container{
    
    display: flex;
}
.text-home{
    color:white;
    font-size: 40px;
}
.main-text{
    font-size: 25px;
}
.part-text{
    font-size: 25px;
}
/*div{
    border: 1px solid black;
}*/